.calibre {
  display: table-column-group;
}
.calibre1 {
  display: table-column;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  display: table-column-group;
  line-height: 1.2;
}
.calibre5 {
  display: table-row-group;
  line-height: 1.2;
  vertical-align: middle;
}
.calibre6 {
  display: table-row;
  line-height: 1.2;
  vertical-align: inherit;
}
.calibre7 {
  display: block;
}
.calibre8 {
  height: auto;
  width: auto;
}
.class {
  display: block;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.class_s {
  -webkit-hyphens: none;
  color: #4970a0;
  display: block;
  font-size: 1.66667em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-top: 0.959273em;
}
.class_s1 {
  -webkit-hyphens: none;
  height: auto;
  hyphens: none;
  width: 91.992%;
}
.class_s1a {
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
  -webkit-hyphens: none;
  border-collapse: collapse;
  border-spacing: 0 0;
  display: table;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 1.09917em;
  max-width: 100%;
  min-width: 100%;
  text-indent: 0;
  width: 28.8em;
  border: gray solid 1px;
}
.class_s1a1 {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 1.11111em;
}
.class_s1aa {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0.191855em;
  margin-top: 1.15113em;
}
.class_s1an {
  color: #4970a0;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
}
.class_s1ar {
  color: #4970a0;
  display: block;
  font-family: "DejaVuSans Bold";
}
.class_s1e {
  -webkit-hyphens: none;
  color: #4970a0;
  display: block;
  font-size: 1.66667em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 0.959273em;
}
.class_s1m {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.319em;
  page-break-inside: avoid;
}
.class_s1nc {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 0.3em;
}
.class_s1s {
  -webkit-hyphens: none;
  height: auto;
  hyphens: none;
  width: 42.188%;
}
.class_s1t {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 0.479636em;
}
.class_s1wg {
  display: block;
  line-height: 1.2;
  margin-top: 1em;
  text-align: center;
}
.class_s1wj {
  color: #58585a;
  display: block;
  line-height: 1.25095;
  margin-bottom: 0.191855em;
  margin-top: 1.15113em;
}
.class_s1wn {
  display: block;
  line-height: 1.2;
  padding: 0.219833em 1.65% 0.549583em;
  border: #58585a solid 1px;
}
.class_s1z {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 1.319em;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #4970a0 solid 1px;
}
.class_s2 {
  -webkit-hyphens: none;
  border-bottom-color: gray;
  border-collapse: separate;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 2px;
  border-top-color: gray;
  display: table;
  hyphens: none;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0.3em;
  max-width: 100%;
  text-indent: 0;
}
.class_s3 {
  background-color: #58585a;
  color: #cfcfcf;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 0.123656em 0.352%;
  border: white solid 1px;
}
.class_s4 {
  color: white;
  display: block;
  font-size: 0.64516em;
  font-weight: 800;
  line-height: 1.2;
}
.class_s7g {
  display: block;
  margin-top: 1em;
  text-align: center;
}
.class_s7g1 {
  -webkit-hyphens: none;
  height: auto;
  hyphens: none;
  width: 100%;
}
.class_s7j {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 1em;
}
.class_s7s {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
}
.class_s7x {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 1px;
}
.class_s15g {
  color: #4970a0;
  display: block;
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.094756em;
}
.class_s15j {
  color: #4970a0;
  display: block;
}
.class_s16x {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #4970a0 solid 1px;
}
.class_s16z {
  -webkit-hyphens: none;
  color: #4970a0;
  display: block;
  font-size: 1.66667em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0.095927em;
  margin-top: 0.959273em;
}
.class_s18c {
  display: block;
  font-size: 0.64516em;
  line-height: 1.2;
}
.class_s18e {
  background-color: #e7e7e8;
  display: table-cell;
  line-height: 1.2;
  text-align: inherit;
  vertical-align: top;
  padding: 0.123656em 0.352%;
  border: white solid 1px;
}
.class_s43f {
  font-weight: 800;
}
.class_s43r {
  font-style: italic;
}
.class_sc {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0.191855em;
  margin-top: 1.15113em;
}
.class_sd {
  border-bottom-color: gray;
  border-collapse: separate;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 2px;
  border-top-color: gray;
  display: table;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0.3em;
  max-width: 100%;
  text-indent: 0;
}
.class_sga {
  display: block;
  line-height: 1.2;
  text-align: center;
}
.class_sga1 {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 100%;
}
.class_sgc {
  display: block;
  font-size: 0.58065em;
  font-style: italic;
  line-height: 1.2;
  margin-top: 0.492532em;
  text-align: center;
}
.class_sge {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.09917em;
  page-break-inside: avoid;
}
.class_sgg {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 1.33333em;
}
.class_sjb {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-top: 0.287782em;
}
.class_smt {
  color: #58585a;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.096348em;
}
.class_smv {
  display: block;
  font-size: 0.77419em;
  line-height: 1.2;
}
.class_sn {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #58585a solid 1px;
}
.class_sna {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.15113em;
}
.class_sp {
  color: #58585a;
  display: block;
}
.class_svc {
  display: block;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-top: 1em;
}
.class1 {
  display: table-column;
  width: 1.61663%;
}
.class2 {
  display: table-column;
  width: 1.55211%;
}
.class3 {
  display: table-column;
  line-height: 1.2;
  width: 50%;
}
.class4 {
  display: table-column;
  width: 2.7907%;
}
