.calibre {
  display: table-column-group;
}
.calibre1 {
  display: table-column;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  display: block;
}
.calibre5 {
  height: auto;
  width: auto;
}
.class {
  display: block;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.class_s {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 88.903%;
}
.class_s1 {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 1.319em;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #db7025 solid 1px;
}
.class_s7g {
  display: block;
  margin-top: 1em;
  text-align: center;
}
.class_s7g1 {
  -webkit-hyphens: none;
  height: auto;
  hyphens: none;
  width: 100%;
}
.class_s7j {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 1em;
}
.class_s7s {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
}
.class_s7x {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 1px;
}
.class_s10d {
  display: block;
  font-size: 0.77419em;
  font-weight: 800;
  line-height: 1.2;
  margin-top: 1em;
}
.class_s10f {
  display: block;
  font-size: 0.77419em;
  font-weight: 800;
  line-height: 1.2;
}
.class_s13w {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 36.784%;
}
.class_s43f {
  font-weight: 800;
}
.class_s43r {
  font-style: italic;
}
.class_sc {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0.191855em;
  margin-top: 1.15113em;
}
.class_sd {
  border-bottom-color: gray;
  border-collapse: separate;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 2px;
  border-top-color: gray;
  display: table;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0.3em;
  max-width: 100%;
  text-indent: 0;
}
.class_sev {
  color: #b75e1f;
  display: block;
  font-size: 1.29032em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.094756em;
}
.class_sex {
  color: #b75e1f;
  display: block;
}
.class_sg {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #db7025 solid 1px;
}
.class_sg1 {
  -webkit-hyphens: none;
  color: #b75e1f;
  display: block;
  font-size: 1.66667em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0.095927em;
  margin-top: 0.959273em;
}
.class_sga {
  display: block;
  line-height: 1.2;
  text-align: center;
}
.class_sga1 {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 100%;
}
.class_sgc {
  display: block;
  font-size: 0.58065em;
  font-style: italic;
  line-height: 1.2;
  margin-top: 0.492532em;
  text-align: center;
}
.class_sge {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.09917em;
  page-break-inside: avoid;
}
.class_sgg {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 1.33333em;
}
.class_sgu {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 89.109%;
}
.class_sgw {
  display: block;
  font-size: 0.58065em;
  font-style: italic;
  line-height: 1.2;
  margin-top: 1.26652em;
  text-align: center;
}
.class_shd {
  color: #b75e1f;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
}
.class_shf {
  color: #b75e1f;
  display: block;
  font-family: "DejaVuSans Bold";
}
.class_sj {
  -webkit-hyphens: none;
  color: #b75e1f;
  display: block;
  font-size: 1.66667em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 0.959273em;
}
.class_sjb {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-top: 0.287782em;
}
.class_smn {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 84.571%;
}
.class_smt {
  color: #58585a;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0.096348em;
}
.class_smv {
  display: block;
  font-size: 0.77419em;
  line-height: 1.2;
}
.class_smx {
  display: block;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-top: 0.3em;
}
.class_sn {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #58585a solid 1px;
}
.class_sna {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.15113em;
}
.class_sns {
  color: #58585a;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
}
.class_snw {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 45.766%;
}
.class_sp {
  display: block;
  line-height: 1.2;
  margin-top: 1.09917em;
  page-break-inside: avoid;
}
.class_sp1 {
  display: block;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-top: 1.33333em;
}
.class_sp2 {
  color: #58585a;
  display: block;
}
.class_sr {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-top: 1.319em;
  padding: 0.549583em 1.563%;
  border: #58585a solid 1px;
}
.class_srs {
  font-size: 0.77419em;
  height: auto;
  line-height: 1.2;
  width: 85.19%;
}
.class_suk {
  display: block;
  line-height: 1.2;
  margin-bottom: 1.319em;
  margin-top: 1.09917em;
  page-break-inside: avoid;
}
.class_svc {
  display: block;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-top: 1em;
}
.class_sw {
  display: block;
  line-height: 1.2;
  margin-top: 1.319em;
  page-break-inside: avoid;
}
.class1 {
  display: table-column;
  width: 1.61663%;
}
.class2 {
  display: table-column;
  width: 2.7907%;
}
