.calibre {
  display: table-column-group;
}
.calibre1 {
  display: table-column;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  display: block;
}
.calibre5 {
  height: auto;
  width: auto;
}
.class {
  display: block;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.class_s {
  -webkit-hyphens: none;
  border-bottom-color: gray;
  border-collapse: separate;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 2px;
  border-top-color: gray;
  display: table;
  hyphens: none;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0.3em;
  max-width: 100%;
  text-indent: 0;
}
.class_s7g {
  display: block;
  margin-top: 1em;
  text-align: center;
}
.class_s7g1 {
  -webkit-hyphens: none;
  height: auto;
  hyphens: none;
  width: 100%;
}
.class_s7j {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 1em;
}
.class_s7p {
  -webkit-hyphens: none;
  color: #803f6a;
  display: block;
  font-size: 1.66667em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0.095927em;
  margin-top: 0.959273em;
}
.class_s7s {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
}
.class_s7v {
  color: #803f6a;
  display: block;
}
.class_s7x {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 1px;
}
.class_s43f {
  font-weight: 800;
}
.class_sbk {
  -webkit-hyphens: none;
  display: block;
  font-weight: 800;
  hyphens: none;
  margin-top: 1em;
}
.class_sc {
  -webkit-hyphens: none;
  color: #58585a;
  display: block;
  font-size: 1.29167em;
  font-weight: 800;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 0.191855em;
  margin-top: 1.15113em;
}
.class_scu {
  color: #803f6a;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
}
.class_scw {
  color: #803f6a;
  display: block;
  font-family: "DejaVuSans Bold";
}
.class_sd {
  border-bottom-color: gray;
  border-collapse: separate;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 2px;
  border-top-color: gray;
  display: table;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0.3em;
  max-width: 100%;
  text-indent: 0;
}
.class_sdp {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 1.319em;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #803f6a solid 1px;
}
.class1 {
  display: table-column;
  width: 1.55211%;
}
.class2 {
  display: table-column;
  width: 2.7907%;
}
