.calibre {
  display: table-column-group;
}
.calibre1 {
  display: table-column;
}
.calibre2 {
  display: table-row-group;
  vertical-align: middle;
}
.calibre3 {
  display: table-row;
  vertical-align: inherit;
}
.calibre4 {
  display: block;
}
.calibre5 {
  height: auto;
  width: auto;
}
.class {
  display: block;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.2;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.class_s7g {
  display: block;
  margin-top: 1em;
  text-align: center;
}
.class_s7g1 {
  -webkit-hyphens: none;
  height: auto;
  hyphens: none;
  width: 100%;
}
.class_s7j {
  -webkit-hyphens: none;
  display: block;
  hyphens: none;
  margin-top: 1em;
}
.class_s7x {
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  padding: 1px;
}
.class_sd {
  border-bottom-color: gray;
  border-collapse: separate;
  border-left-color: gray;
  border-right-color: gray;
  border-spacing: 2px;
  border-top-color: gray;
  display: table;
  font-size: 0.77419em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-right: auto;
  margin-top: 0.3em;
  max-width: 100%;
  text-indent: 0;
}
.class_se {
  -webkit-hyphens: none;
  height: auto;
  hyphens: none;
  width: 84.375%;
}
.class_se1 {
  color: #67762b;
  display: block;
  font-size: 1em;
  font-weight: 800;
  line-height: 1.2;
}
.class_sea {
  color: #67762b;
  display: block;
  font-family: "DejaVuSans Bold";
}
.class_seh {
  -webkit-hyphens: none;
  display: block;
  font-size: 1.29167em;
  hyphens: none;
  line-height: 1.2;
  margin-bottom: 1.319em;
  margin-top: 1.319em;
  padding: 0.219833em 1.563% 0.549583em;
  border: #67762b solid 1px;
}
.class1 {
  display: table-column;
  width: 2.7907%;
}
